- content_for :scripts do
  = javascript_pack_tag 'classrooms'
- content_for :styles do
  = stylesheet_pack_tag 'classrooms'

#classrooms-app.small-container
  .page-title-holder
    .page-title 班级列表
    - if teacher?
      .page-title-controls
        %a.el-button{href: new_classroom_path} 新建班级
  %el-tabs
    %el-tab-pane{label: '我的班级'}
      .content-list
        - @classrooms.each do |classroom|
          .card
            .card-title.clearFloat
              %span
                %a{href: classroom_path(classroom['id'])}= classroom['name']
              .floatRight
                - if teacher?
                  %a.el-button.el-button--mini{href: "#{classroom['web_url']}/-/edit"} 编辑
                  %a.el-button.el-button--danger.el-button--mini{href: exit_classroom_path(classroom['id'])} 退出班级
                  = link_to '删除', classroom_path(classroom['id']), method: :delete, data: {confirm: '确定删除？'}, class: 'el-button el-button--danger el-button--mini'
                - if student?
                  %a.el-button.el-button--danger.el-button--mini{href: exit_classroom_path(classroom['id'])} 退出班级

            .card-info
              = classroom['description']
    %el-tab-pane{label: '所有班级'}
      .content-list
        - @all_classrooms.each do |classroom|
          .card
            .card-title.clearFloat
              %span
                %a{href: my_class?(classroom['id']) ? classroom_path(classroom['id']) : '#'}= classroom['name']
                .floatRight
                  - unless classroom['own']
                    %a.el-button.el-button--mini{href: join_classroom_path(classroom['id'])} 加入班级
                  - if teacher? && classroom['own']
                    %a.el-button.el-button--mini{href: "#{classroom['web_url']}/-/edit"} 编辑
                    = link_to '删除', classroom_path(classroom['id']), method: :delete, data: {confirm: '确定删除？'}, class: 'el-button el-button--danger el-button--mini'
                  - if student? && classroom['own']
                    %el-button.el-button--mini{':disabled': 'true'} 已加入

            .card-info
              = classroom['description']
