- content_for :scripts do
  = javascript_pack_tag 'show_team_project'
- content_for :styles do
  = stylesheet_pack_tag 'show_team_project'

#show-team-app.small-container{}
  .page-title-holder
    .page-title= @team['name']
    .page-title-controls
      %a.el-button{href: classroom_team_project_blogs_path(team_project_id: params[:id])}
        团队博客
      %a.el-button{href: @team['web_url']}
        转到 GitLab
        %i.iconfont.icon-link{style: "font-size: 13px"}
  %p= @team['description']
  %el-tabs
    %el-tab-pane.members-table{label: '团队成员'}
      .content-list
        %el-row
          %el-col{':span': 8} 成员
          %el-col{':span': 8} commit
          %el-col{':span': 8} 完成 issues
        - @members.each do |member|
          %el-row
            %el-col{':span': 8}
              .member
                .avatar
                  %a{href: member['web_url']}
                    %img{src: member['avatar_url']}
                %div
                  %div
                    %a{href: member['web_url']}= member['name']
                  %div= "@#{member['username']}"

    %el-tab-pane{label: '统计图'}


:css
  .member img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .member {
    display: table-row;
    font-size: 16px;
  }

  .member > * {
    display: table-cell;
    vertical-align: top;
  }

  .members-table {
      color: #606266;
  }