!!!
%html
  %head
    %title
      - if logged_in?
        = current_user.username
      - else
        = yield :title
    = csrf_meta_tags
    = csp_meta_tag
    = ie_svg_meta_tag
    %script{type: 'text/javascript', src: '/font/iconfont.js'}
    %link{rel: 'stylesheet', href: '/font/iconfont.css'}
    = javascript_pack_tag 'application'
    - if logged_in?
      - if student?
        = javascript_pack_tag 'navbar'
        = stylesheet_pack_tag 'navbar'
      - else
        = javascript_pack_tag 'teacher_navbar'
        = stylesheet_pack_tag 'teacher_navbar'
    = yield :scripts
    = yield :styles

  %body
    #container
      - if logged_in?
        #navbar{data: projects_data}
          %navbar
      #content
        .content-wrapper
          = yield

    :css
      #navbar {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      html, body {
        height: 100%;
      }

      #container {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      #content {
        flex: 1;
        overflow: auto;
        /* 兼容 Safari*/
        position: relative;
      }

      .content-wrapper {
        /* 兼容 Safari*/
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      body {
        margin: 0;
      }

      a {
        text-decoration: none;
        color: #444;
      }

      a:hover {
        color: #409EFF;
      }

      .icon {
        width: 1em; height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
      }

      a.el-button:hover {
        color: #606266;
      }

      .floatLeft {
        float: left
      }

      .floatRight {
        float: right;
      }

      .clearFloat:before {
        content: "";
        clear: both;
        display: block;
      }

      .clearFloat:after {
        content: "";
        clear: both;
        display: block;
      }

      .page-title-holder {
        padding-top: 10px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
      }

      .page-title-holder .page-title {
        margin: 16px 0;
        font-size: 1.75em;
        font-weight: 600;
        color: #2e2e2e;
      }

      .page-title-holder .page-title-controls {
        margin-left: auto;
      }

      .page-title-holder-small {
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        align-items: center;
      }

      .page-title-holder-small .page-title {
        margin: 10px 0;
        font-size: 1.25em;
        color: #2e2e2e;
      }

      .page-title-holder-small .page-title-controls {
        margin-left: auto;
      }

      .container {
        padding: 0 16px;
      }

      .small-container {
        max-width: 800px;
        margin: auto;
        padding: 0 16px;
      }

      .content-list > * {
        margin: 10px 0;
        border-bottom: 1px solid #eee;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-bottom: 10px;
      }

      .error-item {
        margin: 16px 0;
      }

      .card-title {
        font-size: 1.5em;
        margin-bottom: 10px;
      }

      .card-info {
        font-size: 16px;
        color: #909399;
      }

      .no-result {
        text-align: center;
        font-style: italic;
      }

      .info {
        color: #909399;
      }

      .auto-textarea-input {
        background-color: white;
      }

