!!!
%html
  %head
    %title
      - if logged_in?
        = current_user.username
      - else
        = yield :title
    = csrf_meta_tags
    = csp_meta_tag
    %script{type: 'text/javascript', src: '/font/iconfont.js'}
    %link{rel: 'stylesheet', href: '/font/iconfont.css'}
    - if logged_in?
      = javascript_pack_tag 'navbar'
      = stylesheet_pack_tag 'navbar'
    = yield :scripts
    = yield :styles

  %body
    - if logged_in?
      #navbar{data: projects_data}
        %navbar
    = yield

    :css
      body {
        margin: 0;
      }

      a {
        text-decoration: none;
        color: #444;
      }

      a:hover {
        color: #409EFF;
      }

      .icon {
        width: 1em; height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
      }

      .floatRight {
        float: right;
      }

      .clearFloat:before {
        content: "";
        clear: both;
        display: block;;
      }

      .clearFloat:after {
        content: "";
        clear: both;
        display: block;;
      }
